
<div class="main-content">
    <div class="container-fluid">
        <div class="card">
          <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
           <h3> Trip Parameters </h3>
            

            <h3><b>1.Dates </b></h3>
            <h3>  * Start Date And time </h3>
            <input type="date">
            <input type="time">
            <h3>  * End Date And time  </h3>
            <input type="date">
            <input type="time">
           
            <h3><b>2.CARGO & ROUTE</b></h3>
            
            <h3>* type of  cargo </h3>
            <select name="my_html_select_box">
                   <option> chose a type of cargo</option>
                   <option> Gaz</option>
                   <option> oil</option>
                </select>
                <h3>  *departure city </h3>
                <textarea></textarea>
                <h3>  *arrival  city </h3>
                <textarea></textarea>
                <h3> <b>3.vehicle</b></h3>
                <h3> <p> * chose  vehicle </p></h3>
<p>
	
	Van : <input type="radio" name="citizenship" /><br />
    Car: <input type="radio" name="citizenship" /><br />
	Truck: <input type="radio" name="citizenship" />
</p>
<h3>  * select véhicule </h3>
<select name="my_html_select_box">
    <option> chose a type of vehicle </option>
    <option> AA 1235</option>
    <option> BB 2515</option>
 </select>
              <div class="card card-stats">
                <input type="reset" value="Reset" /><br />
                <input type="submit" value="Send" /><br />
                    </div></div>
                    </div></div>  
                    
                      
   
        
      
       