<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="https://www.creative-tim.com">
                       
                    </a>
                </li>
                <li>
                    <a href="https://creative-tim.com/about-us">
                       
                    </a>
                </li>
                <li>
                    <a ></a>
                    
                </li>
                <li>
                    <a href="https://www.creative-tim.com/license">
                      
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, made with love by
           
        </div>
    </div>
</footer>
