<div class="main-content">
    <div class="container-fluid">
    <div class="card">
     <div class="card-header card-header-rose">                   
     <div class="ct-chart" id="dailySalesChart"><button id="button1">
       Mise à Jour Les Revenus
        </button></div>
      <div class="card-body">
       <h4 class="card-title">les Revenus </h4>
                                                              
                                                                 
    </div>
    </div>
    </div>
    </div>                                                 
                                                   
    
    
    <div class="main-content">
      <div class="container-fluid">
       <div class="card">
        <div class="card-header card-header-danger">                   
        <div class="ct-chart" id="fielsChart"></div>
         <div class="card-body">
          <h4 class="card-title">Idle Cost </h4>
                                                                 
                                                                    
     </div>
     </div>
     </div>
     </div>
    
     
    <div class="main-content">
       <div class="container-fluid">
        <div class="card">
          <div class="card-body">
             <h4 class="card-title"> Dépences </h4>                                                
            </div>
    <div id="chart5" class="ct-chart ct-major-tenth"></div>
    <h3>  EN Bleu : Maintenance</h3>
    <h3>  EN Rouge : Labor Cost </h3>
    <h3>  EN Jaune : Fuel </h3>
    <h3>  EN Noire : Other </h3>
    </div>
    </div>
    </div>
    <div class="main-content">
      <div class="container-fluid">
       <div class="card">
         <div class="card-body">
            <h4 class="card-title"> Dépences </h4>                                                
           </div>
    <div id="chart6" class="ct-chart ct-major-tenth"></div>
    <h3>  EN Bleu : Maintenance</h3>
    <h3>  EN Rouge : Labor Cost </h3>
    <h3>  EN Jaune : Fuel </h3>
    <h3>  EN Noire : Other </h3>
    </div>
    </div>
    </div>   
          
