<div class="main-content">
    <div class="container-fluid">
        <div class="card">
          <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-success card-header-icon">
                      <div class="card-icon">
                          <i class="fa fa-plus" aria-hidden="true"></i>
                      </div>
                      <p class="card-category"></p>
                      <h3 class="card-title"></h3>
                <div class="e-card-actions">
                    <button class="e-card-btn">Add Véhicule </button>
                    <a href="#"></a>
                    </div></div>
                    </div></div>
  
                    
                    <div class="row">
                      <div class="col-lg-3 col-md-6 col-sm-6">
                          <div class="card card-stats">
                              <div class="card-header card-header-success card-header-icon">
                                  <div class="card-icon">
                                      <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                  </div> 
                                  <p class="card-category"></p>
                                  <h3 class="card-title"></h3>
                                  
                            <div class="e-card-actions">
                                <button class="e-card-btn">update Véhicule </button>
                                <a href="#"></a>
                                </div></div></div>
                                </div></div> 
                      
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card card-stats">
              <div class="card-header card-header-success card-header-icon">
                  <div class="card-icon">
                      <i class="fa fa-minus" aria-hidden="true"></i>
                  </div>
                  <p class="card-category"></p>
                  <h3 class="card-title"></h3>
            <div class="e-card-actions">
                <button class="e-card-btn">delete Véhicule </button>
                <a href="#"></a>
                </div></div></div>
                </div></div> 
      </div>